DATABASE_URL="postgresql://ticket_owner:Y1zLTwhJ5tfj@ep-proud-glitter-a5subun3.us-east-2.aws.neon.tech/ticket?sslmode=require"
API_URL=https://ticket-sf4d.onrender.com
NODE_ENV=dev
HOST=0.0.0.0
PORT=3333
