:root {
  --bg0_h: #eef2f8;

  --bg0: #ffffff;
  --fg0: #3c3836;

  --bg1: #ff3f02;
  --fg1: #ffffff;

  --gray: #928374;
  --green: #3BB273;
  --red: #A66E71;
  --blue: #4D9DE0;
}

/* General */

html, body {
	position: relative;
  display: flex;
  flex-direction: column;

	box-sizing: border-box;
	width: 100%;
  height: 100vh;
	margin: 0;
	padding: 0;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--fg0) !important;

  background-color: var(--bg0_h) !important;
  overflow: hidden;
}

/* Headers */

h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Inputs */

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border-radius: 2px;
  border: 1px solid #ccc;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--gray);
}

input:disabled, textarea:disabled, select:disabled {
	color: #ccc;
  cursor: not-allowed !important;
}

label {
	display: block;
}

button:disabled {
	background-color: #ccc !important;
  cursor: not-allowed !important;
}

/* Number input */

input[type='number'].hide-arrows {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number'].hide-arrows::-webkit-outer-spin-button, input[type='number'].hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Button */

button {
  margin: 0;
	border: 0;
  padding: 7px 10px;
  cursor: pointer;

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

button:active {
	background-color: #ddd !important;
}

/* Utils */

.hr {
  width: 100%;
  margin: 20px 0;
  border-top: 3px solid var(--gray);
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.t-w-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrappable {
  word-wrap: break-word;
}

.cp {
  cursor: pointer;
}

/* Misc */

.tabname {
  margin: 0;
  text-align: start;
  font-size: 24px;
  font-weight: 700;
}
