@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;       /* Branco */
    --foreground: 355 78% 41%;     /* Vermelho Escuro */
  
    --card: 0 0% 100%;             /* Branco */
    --card-foreground: 333.3 100% 10%; /* Cinza Escuro */
  
    --popover: 0 0% 100%;           /* Branco */
    --popover-foreground: 333.3 100% 10%; /* Cinza Escuro */
  
    --primary: 355 78% 41%;         /* Vermelho Escuro */
    --primary-foreground: 0 0% 100%; /* Branco */
  
    --secondary: 358 78% 60%;       /* Vermelho Claro */
    --secondary-foreground: 0 0% 100%; /* Branco */
  
    --muted: 0 0% 92%;             /* Cinza Claro */
    --muted-foreground: 333.3 100% 10%; /* Cinza Escuro */
  
    --accent: 5 75% 46%;           /* Marrom */
    --accent-foreground: 0 0% 100%; /* Branco */
  
    --destructive: 218 75% 22%;     /* Azul Marinho */
    --destructive-foreground: 0 0% 100%; /* Branco */
  
    --border: 0 0% 80%;             /* Cinza Médio */
    --input: 0 0% 92%;             /* Cinza Claro */
    --ring: 355 78% 41%; 
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
